{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "plugins" : [
    "flow-vars"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "react-in-jsx-scope": 0,
    "no-param-reassign": [2, {"props": false}],
    "jsx-quotes": [2, "prefer-single"],
    "func-names": 0,
    "no-console": 0,
    "one-var": 0,
    "new-cap": 0,
    "quote-props": 0,
    "react/jsx-no-bind": 0,
    "prefer-template": 0,
    "arrow-body-style": 0,
    "no-empty-label": 0,
    "no-labels": 2,
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}
